/*! === FONTS === */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");

/*! === VARIABLES === */
:root {
    --light-clr: #fff;
    --light-clr-2: #BED2C9;
    --light-clr-3: #E1E7DD;
    --dark-clr: #2e2e2e;
    --body-font-clr: #bdbdbd;
    --body-bg-clr: #222222;
    --title-font: "Bebas Neue", cursive;
    --body-font: "Poppins", sans-serif;
}

/*! === BASE === */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: var(--body-bg-clr);
    color: var(--body-font-clr);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
    background-color: transparent;
    border: none;
}

/*! === SCROLLBAR === */
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--light-clr-2);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* COMPONENTS */
.container {
    margin-inline: auto;
    padding-inline: 1.8rem;
}

.btn {
    display: inline-block;
    cursor: pointer;
    transition: opacity .25s;
}

.btn:is(:hover , :focus) {
    opacity: .8;
}

.btn_action {
    font-size: 1.8rem;
    color: var(--light-clr);
    line-height: 0;
}

.btn_text {
    font-family: var(--title-font);
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 1rem 3rem;
}

.btn_transparent {
    color: var(--light-clr-2);
    border-bottom: 1px solid var(--light-clr-2);
    padding: 0;
}

.title {
    font-family: var(--title-font);
    font-size: 3.6rem;
    color: var(--light-clr-3);
    letter-spacing: 1px;
}

.title_main {
    font-size: clamp(4.2rem , 8vw, 10rem);
    line-height: 1.2;
    position: relative;
    background: url(../images/showcase_image_lg.png) center 37% no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 10;
}

.section_metadata {
    padding-bottom: 6rem;
    text-align: center;
}

.section_metadata_description {
    margin-top: 1.3rem;
}

.btn-green {
    background-color: var(--light-clr-2);
    color: var(--dark-clr);
}

/*  === HEADER ===  */
.header {
    position: fixed;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: var(--body-bg-clr);
    transition: padding .25s;
    z-index: 30;
}

.header.active {
    padding-top:1rem ;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo {
    margin-right: 2.5rem;
}

.navbar_logo_image {
    min-width: 10.2rem;
}

.navbar_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100vh;
    background-color: var(--dark-clr);
    transform: translateX(-26rem);
    transition: transform .5s ease-in;
    z-index: 30;
}

.navbar_menu.active {
    transform: translateX(0); 
}

.navbar_list {
    display: flex;
    flex-direction: column;
}

.navbar_list_item {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar_list_item:last-child {
    border-bottom: none;
}

.navbar_listlink {
    display: block;
    padding: 1rem;
    color: var(--light-clr);
    transition: opacity .25s;
}

.navbar_listlink:is(:hover , :focus) {
    opacity: .5;
}

.navbar_btn_group {
    display: flex;
    column-gap: 1.5rem;
}

/* === MAIN === */
main {
    overflow-x: hidden;
}

/* SHOWCASE */
.showcase {
    padding-top: 14.5rem;
}

.showcase_container {
    text-align: center;
}

.showcase_image {
    display: inline-block;
    transform: translateY(-3rem);
}

/* === PORTOFOLIO === */
.portfolio {
    padding-top: 7.4rem;
    padding-bottom: 12rem;
}

.portfolio_metadata {
    padding-bottom: 4rem;
    text-align: left;
}

/* SWIPER */

.swiper-slide {
    width: 30rem;
    height: 30rem;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: var(--light-clr-2);
}

/* === SERVICES === */
.services {
    background-color: var(--dark-clr);
    padding-block: 7.4rem;
}

.services_container  {
    display: grid;
}

.services_image_wrapper {
    margin-bottom: 6rem;
}

.services_image_wrapper img {
    margin-inline: auto;
}

.services_list, 
.services_list_divider {
    display: grid;
    gap: 5rem;
}

.services_list_icon {
    display: inline-block;
    font-size: 3.6rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.services_list_title {
    margin-bottom: 1rem;
}

/* === ABOUT === */
.about {
    padding-top: 12rem;
    padding-bottom: 6rem;
}

.about_container {
    display: grid;
    gap: 8rem;
}

.about_information_title {
    margin-bottom: 2rem;
}

.about_information_description:first-of-type {
    margin-bottom: 1.5rem;
}

.about_information_description:last-of-type {
    margin-bottom: 1.5rem;
}

.about_images {
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    margin-inline:auto;
}

.about_images_image-top {
    grid-column:4/-1;
    grid-row: 1/span 4;
}

.about_images_image-bottom {
    grid-column:1/7;
    grid-row: 3/span 5;
    z-index: 10;
}

/* === BLOGS === */
.blog{
    padding-top: 4rem;
    padding-bottom: 12rem;
}

.blog_container {
    display: grid;
}

.blog_metadata_description {
    margin-bottom: 4rem;
}

.blog_post {
    margin-bottom: 6rem;
}

.blog_post_image {
    margin-bottom: 3rem;
}

.blog_post_image img {
    margin-inline:auto;
}

.blog_post_title{
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

/* === FOOTER === */
.footer {
    background-color: var(--dark-clr);
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.footer_group {
    text-align: center;
}

.footer_title {
    margin-bottom: 3rem;
}

.footer_seperator{
    display: block;
    height: 1px;
    margin-top: 10rem;
    margin-bottom: 8rem;
    background-color: var(--light-clr);
}

.footer_logo {
    display: inline-block;
}

.footer_description {
    margin-block:3rem;
}

.footer_list {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer_list_link {
    color: var(--light-clr-2);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .25s;
}

.footer_list_link:hover {
    background-color: var(--light-clr-2);
    color: var(--dark-clr);
}

.footer_copyright {
    display: inline-block;
    margin-top: 5rem;
}

/*! === MEDIA QUERIES === */
/* --- Phones --- */
@media (min-width: 31.25em) {
    .container {
        max-width: 50rem;
    }
}

/* --- Tablets --- */
@media (min-width: 48em) {
    body {
        font-size: 1.6rem;
    }

    .container {
        max-width: 76.8rem;
    }

    #menu-toggler {
        display: none;
    }

    .navbar_menu {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        transition: none;
        transform: initial;
    }

    .navbar_list {
        flex-direction: row;
        gap: 1rem;
    }

    .navbar_list_item {
        border-bottom: none;
    }

    .showcase_image {
        transform: translateY(-5rem);
    }

    .section_metadata {
        grid-column: 1/-1;
    }

    .section_metadata_description {
        max-width: 70rem;
        margin-inline:auto;
    }

    .services_image_wrapper {
        margin-top: 0;
    }

    .services_image_wrapper img {
        margin-inline: 0;
    }

    .services_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .services_list_item {
        align-self: center;
    }

    .services_container,
    .about_container,
    .blog_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2.5rem;
    }

    .footer_description {
        max-width: 50rem;
        margin-inline: auto;
    }
}

/* --- Laptops/Desktops --- */
@media (min-width: 64em) {
    .container {
        max-width: 120rem;
    }

    .title_main {
        background-position: center 48%;
    }

    .showcase_image {
        transform: translateY(-8rem);
    }

    .services_container {
        grid-template-columns: 1fr , 1.5fr;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 46a2bc5ef4ae0a47104752c52caa06b7ac6b9260
